<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.travelplannerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:name=".launcher.LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/sign_in"
            android:name=".signin.SignInActivity" />
        <activity
            android:label="@string/sign_up"
            android:name=".signup.SignUpActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".travels.TravelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".transport.TransportActivity" />
        <activity android:name=".tickets.TicketsActivity" />
        <activity android:name=".accommodation.AccommodationActivity" />
        <activity android:name=".dayplans.DayPlansActivity" />
        <activity
            android:name=".traveldetails.TravelDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".addtravel.AddTravelActivity" />
    </application>
</manifest>